@keyframes fading-background-animation {
  0% {
    opacity: 0;
    z-index: 100;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  99% {
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes animateC{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate{
  0% {
    transform: rotate(45deg);
  }
  100% {
    display: none;
    transform: rotate(405deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0;
  }
  100% {
    opacity: 1;
  }
}
