body {
  margin: 0;
  background-color: #F3F3F3;
}

.body-detail {
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  padding: 30px 0;
  width: 100%;
}

.space {
  margin: 50px 0;
}

body, .call-to-action {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.f300 {
  font-weight: 300;
}

.text-title {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 2em;
}

.f500 {
  font-weight: 500;
}

.row {
  display: flex;
  align-items: center;
}

.row-between {
  display: flex;
  justify-content: space-between;
}

header {
  text-align: center;
  background-color: white;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.0823529412);
}
header .arrow-back {
  text-decoration: none;
  color: black;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(50%, -50%);
}
@media (min-width: 1024px) {
  header {
    padding: 1px;
  }
}
header .text-title {
  margin: 0;
}
@media (min-width: 1024px) {
  header .text-title {
    padding: 15px;
  }
}

footer {
  width: 100%;
  background: #353535;
  color: white;
  display: flex;
  justify-content: center;
}
footer div {
  padding: 0 30px;
  width: 28em;
}
footer div ul {
  list-style: none;
  padding: 0;
  line-height: 1.6em;
}
footer div ul .more-action .icon {
  width: 40px;
  margin-right: 10px;
  text-align: center;
  color: #7E7E7E;
}

.call-to-action {
  padding: 20px 40px;
  border-radius: 40px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  margin: 50px 0 0 0;
  text-decoration: none;
  background: linear-gradient(356deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2509803922);
}
.call-to-action:hover {
  transition: 0.5s;
  background: linear-gradient(356deg, #9356DC -5.2%, #FF79DA 110.74%);
  opacity: 0.85;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4392156863);
}

.badge {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #99E2D0;
  color: #008766;
  cursor: default;
  transition: 0.5s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.0823529412);
}

.fa-heart, .like-restaurant-input {
  position: absolute;
}

.heart-container {
  width: 1.8em;
  font-size: 50px;
}
.heart-container .like-restaurant-label {
  position: relative;
  cursor: pointer;
}
.heart-container .like-restaurant-label .heart-empty {
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
}
.heart-container .like-restaurant-label .heart-full {
  opacity: 0;
  background: linear-gradient(196deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #9356DC;
  -webkit-text-stroke-width: 0;
}
.heart-container .like-restaurant-label:hover > .heart-empty {
  -webkit-transition-duration: 0.5s;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9356DC;
}
.heart-container .like-restaurant-label:hover > .heart-full {
  -webkit-transition-duration: 1s, 0.5s;
  opacity: 1;
}
.heart-container .like-restaurant-input {
  top: 15px;
  right: -34px;
}
.heart-container input[type=checkbox].like-restaurant-input:checked ~ .heart-empty {
  -webkit-transition-duration: 0.5s;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9356DC;
}
.heart-container input[type=checkbox].like-restaurant-input:checked ~ .heart-full {
  -webkit-transition-duration: 1s, 0.5s;
  -webkit-text-stroke-width: 0;
  opacity: 1;
}

.card-link {
  text-decoration: none;
  color: black;
}
.card-link .card-title, .card-link .card-description {
  margin: 5px 0;
}
.card-link .card-article {
  padding: 0;
  background-color: white;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4392156863);
}
.card-link .card-article .card-image {
  width: 100%;
  height: 18em;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-link .card-article .card-content {
  padding: 8px 15px;
  position: relative;
}
.card-link .card-article-infos {
  padding: 0;
  max-width: 28em;
  background-color: #F3F3F3;
  position: relative;
  border-radius: 35px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4392156863);
}
.card-link .card-article-infos .card-content-infos {
  padding: 50px 15px;
  position: relative;
}
.card-link .card-article-infos .card-content-infos .pill {
  position: absolute;
  left: -25px;
  padding: 5px 15px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  font-size: 30px;
}
.card-link .card-article-infos .card-content-infos .icon {
  width: 100px;
  text-align: center;
  color: #7E7E7E;
}
.card-link .card-article-infos .card-content-infos:hover > .icon {
  color: #9356DC;
}

.fonctionnement-container,
.menus {
  padding: 0 1em;
}

.restaurants-section,
.reservation-container,
.fonctionnement-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 28em;
}
@media (min-width: 1024px) {
  .restaurants-section,
  .reservation-container,
  .fonctionnement-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 50em;
  }
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: gainsboro;
}
.localisation div {
  position: relative;
  width: 8em;
  display: flex;
  justify-content: space-between;
}

.reservation-section {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #F6F6F6;
  padding-bottom: 30px;
}
.reservation-section div {
  padding: 30px 0;
  text-align: center;
  width: 30em;
}
.reservation-section div p {
  margin: 50px 0;
}

.fonctionnement-section {
  background-color: white;
}
.fonctionnement-section .fonctionnement-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.fonctionnement-section .fonctionnement-container .fonctionnement-item {
  padding: 30px;
  text-align: center;
}
.fonctionnement-section .fonctionnement-container .fonctionnement-item h2 {
  text-align: left;
}

@media (min-width: 1024px) {
  .restaurants-section .restaurant-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
}
.restaurants-section .restaurant-container .menus {
  width: 100%;
}

.header-image {
  height: 24em;
  width: 100%;
}

.bg-la-palette-du-gout {
  background: center/cover no-repeat url(ohmyfood/images/restaurants/restaurant-la-palette-du-gout.jpg);
}

.bg-a-la-francaise {
  background: center/cover no-repeat url(ohmyfood/images/restaurants/restaurant-a-la-francaise.jpg);
}

.bg-le-delice-des-sens {
  background: center/cover no-repeat url(ohmyfood/images/restaurants/restaurant-le-delice-des-sens.jpg);
}

.bg-la-note-enchantee {
  background: center/cover no-repeat url(ohmyfood/images/restaurants/restaurant-la-note-enchantee.jpg);
}

.bg-section-menus {
  max-width: 56em;
  background-color: #F3F3F3;
}
.bg-section-menus .restaurant-section {
  width: 100%;
  padding: 30px 0 0 0;
  position: relative;
  top: -90px;
  background-color: #F3F3F3;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg-section-menus .restaurant-section .menus-section {
  padding: 0;
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 28em;
}
.bg-section-menus .restaurant-section .menus-section .heart-container {
  position: relative;
}
.bg-section-menus .restaurant-section .menus-section .heart-container label {
  position: absolute;
  top: 34%;
}
.bg-section-menus .restaurant-section .menus-section .heart-container .heart-empty {
  -webkit-text-fill-color: #F3F3F3;
}
.bg-section-menus .restaurant-section .menus-section .menus {
  width: 100%;
}
.bg-section-menus .restaurant-section .menus-section h3 {
  text-transform: uppercase;
  position: relative;
}
.bg-section-menus .restaurant-section .menus-section h3:after {
  content: "";
  width: 95px;
  height: 0.1em;
  background: #99E2D0;
  position: absolute;
  top: 60px;
  left: 2px;
}
.bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article {
  overflow: hidden;
}
.bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article .container .card-selected {
  display: flex;
  justify-content: center;
  align-items: end;
}
.bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article .container .card-selected .price {
  margin-bottom: 1em;
}
.bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article .container .card-selected .checkbox {
  flex-grow: 1;
  background: #99E2D0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article .card-container {
  position: relative;
}
.bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article .card-container .card-label {
  position: absolute;
  z-index: 5;
  width: 100%;
  background: transparent;
  height: 100%;
  left: 0;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article .card-container .card-label:hover ~ .menu-background .menu {
    width: 80%;
  }
}
.bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article .card-container input[type=checkbox].card-order-input {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: -1;
}
.bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article .card-container input[type=checkbox].card-order-input:checked ~ .menu-background .menu {
  width: 80%;
}
.bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article .card-container .menu-background {
  background-color: #99E2D0;
  position: relative;
  height: 5em;
}
.bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article .card-container .menu-background .menu {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: 0.5s;
  position: absolute;
  z-index: 2;
}
.bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article .card-container .menu-background .menu h4, .bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article .card-container .menu-background .menu p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 25px 0 0 25px;
}
.bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article .card-container .menu-background .menu .menu-description {
  width: 88%;
}
.bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article .card-container .menu-background .menu p {
  margin: 0;
}
.bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article .card-container .menu-background .menu .price {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 10px;
}
.bg-section-menus .restaurant-section .menus-section .menu-content .card-link .card-article .card-container .menu-background .fa-check-circle {
  position: absolute;
  right: 70px;
  color: white;
  font-size: 40px;
  top: 50%;
  transform: translate(50%, -50%);
}

:root {
  --white: white;
  --bg-color: #F3F3F3;
  --green-light: #99E2D0;
  --green-dark: #008766;
  --blue-light: #89C8FA;
  --blue-dark: #003A68;
  --primary: #9356DC;
  --primary-light: #FF79DA;
}

/*# sourceMappingURL=main.css.map */
