footer {
  width: 100%;
  background: var(--Grey, #353535);
  color: $white;
  display: flex;
  justify-content: center;
  div{
    padding: 0 30px;
    width: $default-size;
    ul{
      list-style: none;
      padding: 0;
      line-height: 1.6em;
      .more-action {
        .icon {
          width: 40px;
          margin-right: 10px;
          text-align: center;
          color: #7E7E7E;
        }
      }
    }
  }
}
