.card-link {
  text-decoration: none;
  color: black;
  .card-title, .card-description {
    margin: 5px 0;
  }
  .card-article {
    padding: 0;
    background-color: $white;
    position: relative;
    @include with-curve-all-edges;
    @include with-box-shadow-style;
    .card-image {
      width: 100%;
      height: 15em;
      object-fit: cover;
      @include with-curve-topRight-topLeft;
      @include respond-to('medium') {
        height: 12em;
      }
    }
    .card-content {
      padding: 8px 15px;
      position: relative;
      .description-container {
        width: 80%;
      }
    }
  }
  .card-article-infos{
    padding: 0;
    background-color: $bg-color;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 #00000026;
    .card-content-infos {
      padding: 24px 15px;
      position: relative;
      .pill {
        position: absolute;
        left: -15px;
        background-color: #9356DC;
        border-radius: 50%;
        color: white;
        width: 24px;
        height: 24px;
        line-height: 24px;
      }
      .icon {
        width: 16px;
        padding: 0 10px;
        text-align: center;
        color: #7E7E7E;
      }
      &:hover > .icon {
        color: $primary;
      }
      .title {
        padding: 0 20px;
        margin: 0;
      }
      @include respond-to('medium') {
        padding: 1.3em 15px;
      }
    }
  }
}

