.fa-heart, .like-restaurant-input{
  position: absolute;
}

.heart-container {
  position: relative;
  width: 50px;
  float: right;
  top: -80px;
  .like-restaurant-label {
    position: absolute;
    top: 20%;
    cursor: pointer;
    .heart-empty {
      -webkit-background-clip: text;
      -webkit-text-stroke-color: black;
      -webkit-text-stroke-width: 2px;
    }
    .heart-white {
      -webkit-text-fill-color: $white;
    }
    .heart-grey {
      -webkit-text-fill-color: $bg-color;
    }
    .heart-full {
      opacity: 0;
      background: linear-gradient(196deg, $primary -11.44%, $primary-light 123.93%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: $primary;
      -webkit-text-stroke-width: 0;
    }
    &:hover > .heart-empty {
      -webkit-transition-duration: .5s;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $primary;
    }
    &:hover > .heart-full {
      -webkit-transition-duration: 1s, .5s;
      opacity: 1;
    }
  }
  .like-restaurant-input {
    top: 5px;
    right: -25px
  }

  input[type="checkbox"].like-restaurant-input {
    &:checked ~ .heart-empty {
      -webkit-transition-duration: .5s;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $primary;
    }
    &:checked ~ .heart-full {
      -webkit-transition-duration: 1s, .5s;
      -webkit-text-stroke-width: 0;
      opacity: 1;
    }
  }

}


