body {
  margin: 0;
  background-color: $bg-color;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  padding: 30px 0;
  width: 100%;
}

.space {
  margin: 50px 0;
}
