body {
  font-size: 16px;
  font-weight: 300;
  font-family: $font-roboto;
  font-style: normal;
  line-height: normal;
}

.call-to-action {
  font-family: $font-roboto;
  font-style: normal;
  line-height: normal;
}

.badge {
  font-family: $font-roboto;
}

.localisation {
  div {
    span {
      font-weight: 500;
    }
  }
}

.call-to-action {
  font-weight: 500;
}

.f300 {
  font-weight: 300;
}

.text-title {
  font-family: $font-Shrikhand;
  font-weight: 400;
  font-size: 30px;
  line-height: 43.74px;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
}

.f500{
  font-weight: 500;
}

.ring {
  font-family: sans-serif;
  font-size: 20px;
}

.card-link {
  .card-article-infos{
    .card-content-infos {
      @include respond-to('medium') {
        .card-title, .icon, .pill {
          font-size: inherit;
        }
      }
    }
  }
}

.heart-container {
  font-size: 2em;
}
