body, .call-to-action {
  font-family: $font-roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.f300 {
  font-weight: 300;
}

.text-title {
  font-family: $font-Shrikhand;
}

.card-infos{
  font-weight: 500;
}
