.header-image {
  height: 16em;
  width: 100%;
}

.bg-la-palette-du-gout {
  background: center/cover no-repeat url(/ohmyfood/images/restaurants/restaurant-la-palette-du-gout.jpg);
}
.bg-a-la-francaise {
  background: center/cover no-repeat url(/ohmyfood/images/restaurants/restaurant-a-la-francaise.jpg);
}
.bg-le-delice-des-sens {
  background: center/cover no-repeat url(/ohmyfood/images/restaurants/restaurant-le-delice-des-sens.jpg);
}
.bg-la-note-enchantee {
  background: center/cover no-repeat url(/ohmyfood/images/restaurants/restaurant-la-note-enchantee.jpg);
}

.bg-section-menus {
  width: 100%;
  max-width: $default-size * 2;
  background-color: $bg-color;
  .restaurant-section {
    width: 100%;
    padding: 30px 0 0 0;
    position: relative;
    top: -90px;
    background-color: $bg-color;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    .menus-section{
      padding: 0;
      width: 100%;
      .menu-main-title {
        padding: 0 1em;
        .text-title {
          padding: 0 20px 0 0;
        }
      }
      @include mobile-layout-section;
      h3 {
        text-transform: uppercase;
        position: relative;
        &:after {
          content: "";
          width: 2em;
          height: 0.1em;
          background: #99E2D0;
          position: absolute;
          top: 1.5em;
          left: 0;
        }
      }
      .menu-container {
        animation: fadeIn 1s linear;
        animation-fill-mode: both;
      }
      @for $i from 1 through $total-type-menus {
        .menu-container:nth-child(#{$i}) {
          animation-delay: .25s * $i;
        }
      }
      .menu-content {
        .card-link {
          .card-article {
            overflow: hidden;
            .card-container {
              position: relative;
              .card-label {
                position: absolute;
                z-index: 5;
                width: 100%;
                background: transparent;
                height: 100%;
                left: 0;
                cursor: pointer;
              }
              input[type="checkbox"].card-order-input {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 50%);
                z-index: -1;
              }
              .menu-background {
                background-color: $green-light;
                position: relative;
                height: 5em;
                .menu {
                  width: 100%;
                  height: 100%;
                  background-color: $white;
                  z-index: 2;
                  overflow: hidden;
                  h4, p {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: inline-block;
                    width: 100%;
                    margin: 0;
                    padding: 13px 0 0 13px;
                  }
                  .menu-description {
                    width: 80%;
                  }
                  p {
                    margin: 0;
                  }
                  .price {
                    width: 100%;
                    padding: 10px;
                  }
                }
                .fa-check-circle {
                  position: relative;
                  right: 12px;
                  color: $white;
                  font-size: 24px;
                  top: 50%;
                  transform: translate(50%, -50%);
                }
              }
            }
          }
        }
      }
    }
  }
}
