

.restaurants-section,
.reservation-container,
.fonctionnement-container {
  @include mobile-layout-section;
}
.restaurants-section {
  .menus {
    width: 100%;
  }
}
.localisation {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: gainsboro;
  div {
    position: relative;
    width: 8em;
    display: flex;
    justify-content: space-between;
  }
}

.reservation-section {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #F6F6F6;
  padding-bottom: 30px;
  div {
    padding: 30px 0;
    text-align: center;
    width: 30em;
    p {
      margin: 50px 0;
    }
  }
}

.fonctionnement-section{
  background-color: $white;
  .fonctionnement-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .fonctionnement-item {
      padding: 30px;
      text-align: center;
      h2{
        text-align: left;
      }
    }

  }
}
