.localisation {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: gainsboro;
  div {
    position: relative;
    width: 8em;
    display: flex;
    justify-content: space-between;
  }
}
